.auth-form {
  border-radius: 30px;

  background:
    rgba(24,31,43,.9);

  backdrop-filter: blur(20px);

  padding: 50px;

  box-shadow:
    0 20px 50px rgba(0,0,0,.45);
}

.form-group input {
  height: 56px;

  border-radius: 16px;

  background: #202938;
}

.form-group input:focus {
  border-color: var(--color-secundario);

  box-shadow:
    0 0 0 4px rgba(29,145,248,.2);
}

.btn-auth {
  border-radius: 16px;

  background:
    linear-gradient(
      135deg,
      #ff6b00,
      #ff8c00
    );

  height: 56px;
}

@media (max-width: 768px) {

  .auth-form {
    padding: 30px 22px;
  }

  .auth-form h2 {
    font-size: 1.5rem;
  }
}