.profile-container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.profile-card {
    width: 100%;
    max-width: 550px;
    background: var(--bg-tarjetas);
    border-radius: 30px;
    padding: 45px;
    box-shadow: var(--sombra-relieve);
}

.profile-avatar {
    width: 110px;
    height: 110px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(
        135deg,
        var(--color-marca),
        var(--color-secundario)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

.profile-username {
    text-align: center;
    color: white;
    margin-top: 25px;
}

.profile-email {
    text-align: center;
    color: var(--texto-gris);
}

.profile-divider {
    border: none;
    height: 1px;
    background: rgba(255,255,255,.06);
    margin: 35px 0;
}

.preview-item,
.preview-item-weight {
    background: rgba(255,255,255,.03);
    border-radius: 18px;
    padding: 20px;
    margin-bottom: 15px;
}

.preview-value,
.preview-value-date {
    color: white;
    font-weight: 700;
}

.profile-weight-input {
    background: var(--bg-inputs);
    border: none;
    border-radius: 14px;
    padding: 12px;
    color: white;
}

.btn-profile-logout {
    width: 100%;
    margin-top: 25px;
    height: 55px;
    border: none;
    border-radius: 18px;
    background: #ff4444;
    color: white;
    font-weight: bold;
}

@media (max-width: 768px) {
    .profile-card {
        padding: 25px;
    }
}