.navbar {
  position: sticky;
  top: 0;
  z-index: 500;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 40px;

  backdrop-filter: blur(20px);

  background:
    rgba(13,17,23,.85);

  border-bottom:
    1px solid rgba(255,255,255,.05);
}

.navbar-logo img {
  height: 55px;
}

.logo-text {
  font-size: 22px;
  font-weight: 800;
  color: var(--color-marca);
}

.nav-btn {
  font-size: 15px;
  padding: 12px 18px;
  border-radius: 14px;
  color: var(--texto-gris);
}

.nav-btn:hover {
  background: rgba(255,255,255,.05);
  color: white;
}

.nav-btn-coach {
  background: rgba(29,145,248,.12);
  color: var(--color-secundario);
}

/*NavBar movil*/

@media (max-width: 768px) {

  .navbar {
    position: fixed;
    bottom: 15px;
    left: 15px;
    right: 15px;
    top: auto;

    border-radius: 24px;

    padding: 10px;

    background: rgba(24,31,43,.95);

    backdrop-filter: blur(20px);

    box-shadow:
      0 15px 40px rgba(0,0,0,.5);
  }

  .navbar-logo {
    display: none;
  }

  .navbar-user {
    display: none;
  }

  .navbar-links {
    width: 100%;
    justify-content: space-around;
  }

  .nav-btn {
    flex-direction: column;
    gap: 4px;

    font-size: 12px;

    padding: 10px;

    min-width: 70px;
  }
}