.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 28px;

  background: rgba(13,17,23,0.85);
  backdrop-filter: blur(18px);

  border-bottom: 1px solid rgba(255,255,255,0.05);
}

/* LOGO */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar-logo img {
  height: 44px;
}

.logo-text {
  font-size: 18px;
  font-weight: 800;
  color: #ff6b00;
}

/* LINKS CENTRO */
.navbar-links {
  display: flex;
  gap: 10px;
}

/* USUARIO DERECHA */
.navbar-user {
  display: flex;
  gap: 10px;
}

/* BOTONES */
.nav-btn {
  border: none;
  background: transparent;

  color: #9aa3b2;
  font-size: 14px;
  font-weight: 600;

  padding: 10px 14px;
  border-radius: 12px;

  cursor: pointer;
  transition: 0.2s ease;
}

.nav-btn:hover {
  background: rgba(255,255,255,0.05);
  color: white;
}

/* COACH */
.nav-btn-coach {
  color: #1d91f8;
  background: rgba(29,145,248,0.10);
}

/* MOBILE NAVBAR ABAJO */
@media (max-width: 768px) {

  .navbar {
    position: fixed;
    bottom: 12px;
    left: 12px;
    right: 12px;
    top: auto;

    padding: 10px 14px;

    border-radius: 22px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
  }

  .navbar-logo {
    display: none;
  }

  .navbar .btn-logout-nav {
    display: none !important;
}

  .navbar-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .navbar-user {
    display: flex;
    justify-content: center;
  }

  .nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 4px;

    font-size: 11px;
    padding: 8px 6px;
  }
}