/* src/App.css */

/* Contenedor general para envolver las pantallas de la app */
.app-container {
  min-height: 100vh;
  background-color: var(--bg-principal); /* Fuerza el uso del negro antracita */
}

/* Un contenedor para centrar el contenido de las pantallas y que no se pegue a los bordes */
.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}