:root {
  --bg-principal: #0d1117;
  --bg-secundario: #131922;

  --bg-tarjetas: #181f2b;
  --bg-inputs: #202938;

  --color-marca: #ff6b00;
  --color-secundario: #1d91f8;

  --texto-blanco: #f8fafc;
  --texto-gris: #94a3b8;

  --borde-sutil: 1px solid rgba(255,255,255,0.06);

  --sombra-relieve:
    0 10px 30px rgba(0,0,0,0.35);

  --radio: 22px;
}